@font-face {
    font-family: 'hytmr55';
    /* 字体名自定义即可 */
    src: url('../font/hytmr55.woff');
    /* 字体文件路径 */
    font-display: swap;
}

.active {
    display: none;
}

.active2 {
    position: relative;
    left: 8px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

body {
    text-align: center;
    /* display: flex; */
    line-height: 15px;
    background: linear-gradient(200deg,#f3e7e9,#e3eeff);
    margin: 20px auto auto;
    width: 410px;
    height: auto;
    border-radius: 1%;
    /*border: 1px solid ;*/
}

* {
    font-family: 'hytmr55', sans-serif !important;
}

#left {
    float: left;
    margin-left: 5%;
}

#right {
    /* float: right; */
    padding-left: 40%;
    margin-top: 10%;
    line-height: 12px;
    display: inline;
}

.yl {
    width: 350px;
    height: 172px;
    background-color: rgb(82, 82, 82);
    margin-top: 40px;
    margin-left: 30px;
}

.input {
    width: 10rem;
    height: 30px;
    border: 0;
    outline: none;
    color: rgb(194, 194, 194);
    background-color: rgba(122, 122, 122, 0.315);
    border-radius: 6px;
}

.input:hover {
    background-color: rgba(122, 122, 122, 0.541);
}

.input:focus {
    background-color: rgba(122, 122, 122, 0.377);
}

* {
    /* color: #ccc; */
    list-style-type: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    font-family: 微软雅黑, sans-serif;
}

.btn_a {
    color: cornflowerblue;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.btn {
    width: 15rem;
    height: 35px;
    color: #fff;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: rgb(64, 139, 224);
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(53, 115, 187);
}

.btnkj li {
    text-align: center;
    box-sizing: border-box;
    margin-left: 10px;
    width: 300px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 25px;
    padding-top: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #525252;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

.btnkj li:hover {
    background-color: #24252c;
}

.bgdiv {
    background-color: #73c7e0;
    border-radius: 5%;
    padding-bottom: 50px;
    margin-top: 20%;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
    /* z-index: 1; */
}

address {
    margin-top: 50px;
}

h1,
p,
address {
    color: #ccc;
    margin-bottom: 10px;
}

.btn_{
    /* 相对定位 */
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    /* 渐变背景 */
    background: linear-gradient(to right,#0094f7,#09a8f4);
    /* 背景渐变色大小 */
    background-size: 400%;
    /* 圆角 */
    z-index: 1;
}
/* 发光效果 */
.btn_::before{
    /* content: ""; */
    /* position: absolute; */
    /* top: -5px; */
    /* left: -5px; */
    /* bottom: -5px; */
    /* right: -5px; */
    /* 渐变背景 */
    /* background: linear-gradient(to right,#03a9f4,#f441a5,#ffeb3b,#09a8f4); */
    /* 背景渐变色大小 */
    /* background-size: 400%; */
    /* 圆角 */
    /* border-radius: 50px; */
    /* 位于按钮之下 */
    /* z-index: -1; */
    /* 设置模糊度 显示发光效果 */
    /* filter: blur(20px); */
}
/* 鼠标移入执行动画 */
.btn_:hover{
    /* 动画：名称 时间 infinite是无限次播放 */
    animation: streamer 8s infinite;
}
.btn_:hover::before{
    animation: streamer 8s infinite;
}
/* 接下来定义动画 */
@keyframes streamer{
    100%{
        /* 背景位置 */
        background-position: -400% 0;
    }
}


h3 {
    color:#525252
}