<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>糕糕 -- 在线设备</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
    </style>
</head>
<body>
    <header>
        <!-- 头部 -->
    </header>
    <section>
        <!-- 主体内容 -->
        <ul>
            <li>Lorem, ipsum.</li>
            <li>Ipsam, perferendis!</li>
            <li>Labore, maiores.</li>
            <li>Fuga, placeat.</li>
            <li>Consequuntur, laborum?</li>
        </ul>
    </section>
    <article>
        <!-- 其余补分 -->
    </article>
    <footer>
        <!-- 尾部 -->
        <address>
            作者: 白羽
        </address>
    </footer>
</body>
</html>